#intro {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../images/header.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#intro .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

#intro .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-weight: 700;
}

#intro .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
}

#intro {
    position: absolute;
    top: 0;
}

#intro h1 span {
    display: none;
}

#search-box input {
    border-right: none;
    -webkit-border-top-right-radius: 100px;
    -webkit-border-bottom-right-radius: 100px;
    -moz-border-radius-topright: 100px;
    -moz-border-radius-bottomright: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-right: #ccc 1px solid;
}

#search-box span.input-group-btn {
    /*background:#fff; border:#ccc 1px solid; border-left:none;*/
    
    right: 40px;
    z-index: 9;
}

.fixed-header #intro {
    height: 160px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    min-height: 0 !important;
    border-bottom: #fff 20px solid;
}

.fixed-header #intro p {
    display: none;
}

.fixed-header #intro h1 {
    margin-bottom: 0;
    float: left;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.fixed-header #intro h1 img {
    width: 132px;
    height: auto;
}

.fixed-header #search-box {
    float: right;
    left: 40px;
}

.typeahead.dropdown-menu {
    z-index: 100;
}