#intro {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../images/header.jpg);
    background-position: center;
    background-color: #2da286;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#intro .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 201;
}

#intro .header-content .header-content-inner .logo {
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 700;
}

#intro .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
}

#intro .header-content .header-content-inner p.nm {
    margin-bottom: 10px
}

#intro .header-content .header-content-inner p a {
    color: white;
}

#intro .header-content .header-content-inner .clogos {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
#intro .header-content .header-content-inner .clogos_cs {
    width: 42px;
    background: url(../images/sc-logo-front.png) no-repeat -42px 0;
}

#intro .header-content .header-content-inner .clogos_cs:hover {
     background-position: 0 0;
}


#intro {
    position: absolute;
    top: 0;
}

#intro .logo span {
    display: none;
}

#search-box input {
    border-right: none;
    -webkit-border-top-right-radius: 100px;
    -webkit-border-bottom-right-radius: 100px;
    -moz-border-radius-topright: 100px;
    -moz-border-radius-bottomright: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-right: #ccc 1px solid;
}

#search-box span.input-group-btn {
    /*background:#fff; border:#ccc 1px solid; border-left:none;*/
    
    right: 40px;
    z-index: 9;
}

.fixed-header #intro {
    height: 160px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    min-height: 0 !important;
    border-bottom: #fff 20px solid;
}

.fixed-header #intro p {
    display: none;
}

.fixed-header #intro .logo {
    margin-bottom: 0;
    float: left;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.fixed-header #intro .logo img {
    width: 132px;
    height: auto;
}

.fixed-header #search-box {
    float: right;
    left: 40px;
}
.logo img {
    max-width: 100%;
    height: auto;
}

.typeahead.dropdown-menu {
    z-index: 1000;
}