Django==1.8.3
django-jinja==1.4.1
django-pipeline==1.5.0
elasticsearch-dsl==0.0.4
gunicorn==19.3.0
psycopg2==2.6
wagtail==1.0
django-geojson==2.8.0
jsonfield==1.0.3
openpyxl==2.2.2
easy-thumbnails==2.2
django-leaflet==0.16.0
django-tinymce==2.0.2
