{% macro render_property(list_of_ownerships, classname="", tags={}) %}
    {% set owner = None %}
    {% for ownership in list_of_ownerships %}
    {{ render_ownership(ownership, classname, tags=tags, hide_owner=(owner==ownership.owner))}}
    {% set owner = ownership.owner %}
    {% endfor %}
{% endmacro %}

{% macro render_ownership(ownership, classname="", with_link=False, tags={}, hide_owner=False) %}
    <tr{% if classname %} class="{{ classname }}"{% endif %}>
        {% if not hide_owner %}
            <td class="ownerCol-1">
                <div itemscope itemtype="http://schema.org/Person">
                    <meta itemprop="name" content="{{ ownership.owner }}" />
                    {% if with_link %}
                        <a href="{{ ownership.url }}" itemprop="url">{{ ownership.owner }}</a>
                    {% else %}
                        <span class="ownershipOwner">{{ ownership.owner }}</span>
                    {% endif %}
                </div>
                {% for tag in tags.keys() %}
                    {% if tag in ownership.owner.lower() %}
                        <a class="btn btn-alert" href = {{ url('cms_pages:tag_news', slug = tags[tag].slug ) }}><i class="fa fa-user-secret"></i> <span>Є інформація</span></a>
                    {% endif %}
                {% endfor %}
            </td>
        {% else %}
            <td class="ownerCol-1 hidden_cell">
            </td>
        {% endif %}
        <td class="ownerCol-2">
            {% if with_link %}
                {{ ownership.addr_title }}{% if ownership.addr_city %}, {{ ownership.addr_city }} {% endif %}
            {% endif %}
            <a class="ownerAnchor" name="ownership_{{ ownership.pk }}"></a>
            <span class="ownershipAsset">{{ ownership.asset }}</span>
            {% if ownership.share %}
                <br> частка: {{ ownership.share }}
            {% endif %}
            {% if ownership.mortgage_registered %}
                <a class="collapsed btn blue rounded mortgage_registered" role="button" href="#">Іпотека ↓</a>
            {% endif %}
        </td>
        <td class="ownerCol-3">
            {% if ownership.registered %}
                {{ ownership.registered|date }}<br> 
            {% endif %}
            
            {% if ownership.ownership_ground %}
                {{ ownership.ownership_ground }}<br>
            {% endif %}
            
            {% if ownership.ownership_form %}
                {{ ownership.ownership_form }}
            {% endif %}
        </td>
    </tr>
    {% if ownership.mortgage_registered %}
        <tr>
            <td colspan="4">
                <div class="table-responsive mortgage-cell mortgage-{{ ownership.prop_id }}">
                    <table class="table table-bordered" itemscope itemtype="http://schema.org/Action">
                        <thead>
                            <tr>
                                <th>Дата реєстрації іпотеки</th>
                                <th>Підстава обтяження</th>
                                <th>Деталі за іпотекою</th>
                                <th>Суб'єкти обтяження</th>
                                <th>Заявник або іпотекодержатель</th>
                                <th>Власник або іпотекодавець</th>
                                <th>Поручитель</th>
                                <th>Інші суб'єкти обтяження</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td {% if ownership.mortgage_registered|date %} itemprop="startTime" {% endif %}>{{ ownership.mortgage_registered|date }}</td>
                                <td {% if ownership.mortgage_charge %} itemprop="instrument" {% endif %}>{{ ownership.mortgage_charge }}</td>
                                <td {% if ownership.mortgage_details %} itemprop="description" {% endif %}>{{ ownership.mortgage_details }}</td>
                                <td {% if ownership.mortgage_charge_subjects %} itemprop="participant" {% endif %}>{{ ownership.mortgage_charge_subjects }}</td>
                                <td {% if ownership.mortgage_holder %} itemprop="participant" {% endif %}>{{ ownership.mortgage_holder }}</td>
                                <td {% if ownership.mortgage_mortgagor %} itemprop="agent" {% endif %}>{{ ownership.mortgage_mortgagor }}</td>
                                <td {% if ownership.mortgage_guarantor %} itemprop="participant" {% endif %}>{{ ownership.mortgage_guarantor }}</td>
                                <td {% if ownership.mortgage_other_persons %} itemprop="participant" {% endif %}>{{ ownership.mortgage_other_persons }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    {% endif %}
{% endmacro %}

{% macro render_address(address) %}
    <div class="media">
        <div itemscope {% if address.commercial_name %} itemtype="http://schema.org/ApartmentComplex" {% else %} itemtype="http://schema.org/Residence" {% endif %} >
            {% if address.photo %}
                <div class="media-left">
                    <a href="{{ address.url }}" itemprop="url">
                        <img class="media-object media64" src="{{ address.photo|thumbnail_url("address_thumbnail") }}" alt="{{ address.title }}" itemprop="photo">
                    </a>
                </div>
            {% endif %}
            <div class="media-body">
                <h5 class="media-heading" id="middle-aligned-media">
                    <meta itemprop="name" content="{{ address.title }}"/>
                    <meta itemprop="address" content="{{ address.address }}"/>
                    <meta itemprop="telephone" content="None"/>
                    {% if address.map_marker %}
                        <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                            <meta itemprop="latitude" content="{{ address.map_marker.coords[0] }}"/>
                            <meta itemprop="longitude" content="{{ address.map_marker.coords[1] }}"/>
                        </div>
                    {% endif %}
                    <a class="anchorjs-link" href="{{ address.url }}">{{ address.title }}</a>
                    {% if address.commercial_name %}
                        <span itemprop="alternateName">{{ address.commercial_name }}</span>
                    {% endif %}
                </h5>
            </div>
        </div>
    </div>
{% endmacro %}