{% extends "base.jinja" %}

{% block title %}{{ page.title }} — ГарнаХата, елітна нерухомість та її власники{% endblock %}
{% block content %}
    <div class="row">
        <section id="main" class="col col-sm-8">
            <article>
                <header>
                    {% if page.image %}
                        <div id="topNews">
                            <div class="topNewsContainer">
                                <div class="overImage">
                                        <img class="img-responsive" src="{{ page.image.file|thumbnail_url("homepage_news") }}" />
                                    <div class="overInfo">
                                        <span class="dateInfo">{{ page.date_added|date }}</span>
                                        <h1 class="title">{{ page.title }}</h1>
                                    </div>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    {% else %}
                        <div id="topNews">
                            <h1 class="title">{{ page.title }}</h1>
                            <span class="dateInfo">{{ page.date_added|date }}</span>
                        </div>
                    {% endif %}
                </header>
                {{ page.body|richtext }}
            </article>
        </section>

        <aside id="sidebar" role="complementary" class="col col-sm-3">
            {% for tag in page.tags.all() %}
            {% set related_articles = tag.cms_pages_newspagetag_items.all() %}

            {% if related_articles|length > 1 %}
            <!-- TODO для Андрея: Пусть куки помнит что свернул юзер а что нет? -->
            <div class="block">
                <h4 class="green rounded"> <a data-toggle="collapse" href="#latestAboutPerson" aria-expanded="true" aria-controls="latestAboutPerson">{{ tag }}:</a> </h4>
                <div id="latestAboutPerson" class="collapse in" aria-expanded="true">
                    {% for related_article in related_articles %}
                        {% set article = related_article.content_object %}
                        {% if article != page %}
                        <div class="media">
                            {% if article.image %}
                                <div class="media-left media-middle">
                                    <a href="{{ article.url }}"> <img src="{{ article.image.file|thumbnail_url("small_thumbnail") }}" width="60" height="60" class="media-object img-circle" "width:64px; height: 64px;"> </a>
                                </div>
                            {% endif %}
                            <div class="media-body {% if not article.image %}no-image{% endif %}">
                                <h5 class="media-heading" id="middle-aligned-media"><a class="anchorjs-link" href="{{ article.url }}">{{ article.title }}<span class="anchorjs-icon"></span></a><span>{{ article.date_added|date }}</span></h5>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </aside>
    </div>
{% endblock %}