{% extends "base.jinja" %}

{% block title %}{{ page.title }} — ГарнаХата, елітна нерухомість та її власники{% endblock %}
{% block content %}
    <div class="row">
        <section id="main" class="col col-lg-12">
		<h1>{{ page.title }}</h1>
        {{ page.body|richtext }}
        </section>
    </div>
{% endblock %}