{% extends "base.jinja" %}

{% from "macros/_ownership.jinja" import render_property %}

{% block content %}
    <div class="row">
        <section id="bigMap" data-geojson="{{ [address.map_marker()]|jsonify }}" class="geojson-container">
            <div class="container">
                <div class="row">
                    <h2 class="green text-center">Map of uncovered property (national level)</h2>
                    {{ leaflet_map("yourmap") }}
                </div>
            </div>
        </section>

        <section id="main" class="col col-lg-8">
            <article>
                <h1>{{ address.title }}</h1>
                <h2>{{ address.get_city_display() }}, {{ address.address }} {{ address.cadastral_number }}</h2>
                {% if address.link %}
                    <h3><a href="{{ address.link }}" rel="nofollow" target="_blank">{{ address.commercial_name }}</a></h3>
                {% else %}
                    <h3>{{ address.commercial_name }}</h3>
                {% endif %}

                <table class="table">
                {% for group in ownerships|groupby('prop_id') %}
                    {{ render_property(group.list, "active" if loop.index is divisibleby(2) else False) }}
                {% endfor %}
                </table>
            </article>
        </section>
    </div>
{% endblock %}