{% extends "base.jinja" %}

{% from "macros/_ownership.jinja" import render_property %}

{% block content %}
        <div class="col">
            <h1>{{ address.title }}</h1>
            <h2>{{ address.get_city_display() }}, {{ address.address }} {{ address.cadastral_number }}</h2>    
        </div>
        
        <div class="container mt">
                <div class="row">
                    {% if address.photo %}
                    <section class="col-sm-4">
                        <div class="imgResponsiveHeightContainer">
                            <img class="imgResponsiveHeight" src="{{ address.photo|thumbnail_url("address_thumbnail") }}"/>
                        </div>
                    </section>                    
                    <section id="bigMap" data-geojson="{{ [address.map_marker()]|jsonify }}" class="geojson-container col-sm-8">
                    {% else %}
                    <section id="bigMap" data-geojson="{{ [address.map_marker()]|jsonify }}" class="geojson-container col-sm-12">
                    {% endif %}
                        <h2 class="green text-center">Map of uncovered property (national level)</h2>
                        {{ leaflet_map("yourmap") }}
                    </section>
            </div>
       </div>
       
        <section id="main" class="col col-sm-12 objectAdress">
            <article>
                {% if address.link %}
                    <h3><a href="{{ address.link }}" rel="nofollow" target="_blank">{{ address.commercial_name }}</a></h3>
                {% else %}
                    <h3>{{ address.commercial_name }}</h3>
                {% endif %}
                
                <div class="table-responsive">
                    <table class="table objectAdressTable">
                        <thead>
                            <tr>
                                <th>Власник</th>
                                <th>Тип нерухомості, частка</th>
                                <th>Дата реєстрації, підстава власності, форма власності</th>
                                <th><!--Іпотека--></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for group in ownerships|groupby('prop_id') %}
                                {{ render_property(group.list, 
                                                   "active" if loop.index is divisibleby(2) else False,
                                                   tags) }}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </article>
        </section>
{% endblock %}