{% extends "base.jinja" %}

{% from "macros/_ownership.jinja" import render_property %}

{% block title %}{{ address.title }} {% if address.commercial_name %}({{ address.commercial_name }}){% endif %} — ГарнаХата, елітна нерухомість та її власники{% endblock %}
{% block content %}
        <div itemscope {% if address.commercial_name %} itemtype="http://schema.org/ApartmentComplex" {% else %} itemtype="http://schema.org/Residence" {% endif %} >
            <div class="col">
                <h1 itemprop="name">{{ address.title }}</h1>
                {% if address.address %}
                <h2 itemprop="address">{{ address.get_city_display() }}, {{ address.address }} {{ address.cadastral_number }}</h2>
                {% endif %}
                {% if address.commercial_name %}
                <h3 itemprop="alternateName">{{ address.commercial_name }}</h3>
                {% endif %}
                {% if address.description %}
                    <span itemprop="description">{{ address.description|safe }}</span>
                {% endif %}
                <meta itemprop="telephone" content="None"/>
                {% if address.link %}
                    <h5><a href="{{ address.link }}" rel="nofollow" target="_blank" itemprop="url">Додаткова інформація</a></h5>
                {% endif %}
            </div>
            
            {% if address.photo or address.coords %}
            <div class="mt">
                <div class="row">
                    {% if address.photo %}
                    <section class="col-sm-4">
                        <div class="imgResponsiveHeightContainer">
                            <a href="{{ address.photo.url }}" target="_blank">
                            <img class="imgResponsiveHeight" src="{{ address.photo|thumbnail_url("address_thumbnail") }}" itemprop="photo"/>
                            </a>
                        </div>
                    </section>
                    {% endif %}
                    
                    {% if address.coords %}
                    <section id="bigMap" data-geojson="{{ [address.map_marker()]|jsonify }}" class="geojson-container {% if address.photo %}col-sm-8{% else %}col-sm-12{% endif %}">
                        <h2 class="green text-center">{{ address.title }}</h2>
                        {{ leaflet_map("yourmap") }}
                    </section>
                    <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                        <meta itemprop="latitude" content="{{ address.map_marker()["coords"][0] }}"/>
                        <meta itemprop="longitude" content="{{ address.map_marker()["coords"][1] }}"/>
                    </div>
                    {% endif %}
                </div>
           </div>
        </div>
       {% endif %}
       
        <div class="row">
            <section id="main" class="col col-sm-12 objectAdress">
                <article>
                    <div class="table-responsive table-bordered">
                        <table class="table objectAdressTable">
                            <thead>
                                <tr>
                                    <th>Власник</th>
                                    <th>Тип нерухомості, частка</th>
                                    <th>Дата реєстрації, підстава власності, форма власності</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for group in ownerships|groupby('prop_id') %}
                                    {{ render_property(group.list, 
                                                       "active" if loop.index is divisibleby(2) else False,
                                                       tags) }}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </article>
            </section>
        </div>
{% endblock %}