<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="">
    <title>{% block title %}ГарнаХата - база даних власників найдорожчої нерухомості України{% endblock %}</title>
    <!-- Custom Fonts -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {% stylesheet 'css_all' %}
    {{ leaflet_css() }}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link type="application/rss+xml" rel="alternate" href="{{ url("rss_feed") }}">
</head>

<body class="{% block bodyclass %}fixed-header regular-page{% endblock %}">
    <div id="wrapper"> 
        <header id="intro">
            <div class="header_wrap">
                <div class="header-content">
                    <div class="header-content-inner">
                        <div class="logo ani col-sm-6 col-xs-3"><img  class="ani" src="{{ static("images/logo.png")}}" width="403" height="113" alt=""/><span>ГарнаХата &#8212;  база даних власників найдорожчої нерухомості України.</span></div>
                          <p class="text-center nm"><a href="https://www.facebook.com/kancelaristy" target="_blank">Проект канцелярської сотні</a></p>
                          <p class="text-center nm"><a href="https://www.facebook.com/kancelaristy" target="_blank"><span class="clogos clogos_cs noAnimation">Канцелярська сотня</span></a></p>
                        {% block header_intro %}
                        {% endblock %}
                        <div id="search-box" class="col-sm-6 col-xs-9  col-sm-offset-3">
                            <form action="{{ url("search") }}" method="GET">
                                <div class="input-group">
                                    <input type="text" id="search-form" class="form-control input-rounded" placeholder="Введіть власника, адресу або назву комплексу" autocomplete="off" name="q"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-navigate" type="submit">Go!</button>
                                    </span>
                                </div>
                            </form>
                            <!-- /input-group -->
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                </div>
                <nav id="mainNav" class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-left">
                                {% for menuitem in top_menu %}
                                    <li><a href="{{ menuitem.link }}">{{ menuitem.caption }}</a></li>
                                {% endfor %}
                                <li><a href="{{ url("rss_feed") }}" target="_blank">RSS <i class="fa fa-rss"></i></a></li>
                            </ul>
                            <ul class="nav navbar-nav nav-social navbar-right">
                                <li><a class="green rounded" href="https://docs.google.com/forms/d/1H9B4-lVbFtwoAAjqWdj4NSlE7BC_CHocTmQ9ZMyk-UA/viewform?c=0&w=1" target="_blank">Я знаю цього тіпа</a></li>
<!--                                 <li><a class="btn btn-default btn-circle" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="btn btn-default btn-circle" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="btn btn-default btn-circle" href="#"><i class="fa fa-google-plus"></i></a></li> -->
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>
        </header>
        <div class="first-after-intro spacer"></div>
        <div class="container content">
            {% block content %}
            {% endblock %}
            <div id="social-likes">
                    <div class="social-likes pull-right">
                        <div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
                        <div class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</div>
                        <div class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</div>
                    </div>
            </div>
        </div>
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="copirights-logos">
                        <div class="cl-block c100">
                            <a href="https://www.facebook.com/kancelaristy" target="_blank"><span class ="clogos clogos_cs noAnimation">Канцелярська сотня</span> <span class="ctext">Проект канцелярської сотні</span></a>
                        </div>
                        <div class="cl-block fv">
                            <a href="http://www.irf.ua/" target="_blank"><img  class="ani" src="{{ static("images/vid_logo_ua.jpg")}}" height="49" alt=""/></a>
                             <span class="ctext">За підтримки Міжнародного фонду "Відродження"</span> 
                        </div>
                        <div class="cl-block laba">
                            <a class="clogos clogos_slab noAnimation" href="http://schroedingerscatlab.com/" target="_blank">Лабораторія кота Шрьодінгера</a> <span class="ctext">Дизайн Лабораторії кота Шрьодінгера</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    
        {{ leaflet_js() }}
        {% javascript 'js_all' %}
    </div><!-- wraper -->

    {% if GOOGLE_ANALYTICS_ID %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ GOOGLE_ANALYTICS_ID }}', 'auto');
      ga('send', 'pageview');

    </script>
    {% endif %}
</body>
</html>