{% extends "base.jinja" %}

{% from "macros/_ownership.jinja" import render_address %}

{% block bodyclass %}fixed-header regular-page by_city bigMapPage{% endblock %}

{% block content %}
    <section id="bigMap" data-geojson="{{ addresses.map_markers()|jsonify }}" class="geojson-container fullScreenMap col col-sm-9 pull-right">
                <h2 class="green text-center">Елітне житло України</h2>
                {{ leaflet_map("yourmap") }}
    </section>
	<div class="col col-sm-3 pull-left pre-scrollable" id="searchAdresses">
		{% set city = None %}
        <div class="panel-group" id="byCityAccordion" role="tablist" aria-multiselectable="true">
		{% for address in addresses %}
			{% if address.get_city_display() != city %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading-{{loop.index}}">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#byCityAccordion" href="#collapse-{{loop.index}}" aria-expanded="true" aria-controls="collapse-{{loop.index}}">
                          {{ address.get_city_display() }}                    
                          {# TODO: show quantity of objects, ex: Kyiv (19) #}
                        </a>
                      </h4>
                    </div>
    	        {% set city = address.get_city_display() %}
			{% endif %}
                <div id="collapse-{{loop.index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{loop.index}}">
                    <div class="panel-body">
                        {{ render_address(address) }}
                    </div>
                </div>
            </div>
		{% endfor %}
        
        </div>
	</div>
{% endblock %}