{% extends "base.jinja" %}

{% from "macros/_listnews.jinja" import render_news %}
{% from "macros/_pagination.jinja" import render_pagination with context %}


{% block bodyclass %}fixed-header regular-page news{% endblock %}

{% block content %}
<h1 class="text-center">Новини</h1>

<section id="news">
    <ul class="media-list">
        {% for news in news %}
            <li class="media">
                {{ render_news(news) }}
            </li>
        {% endfor %}
    </ul>
    <div class="text-center">
    {{ render_pagination(news, url("news")) }}
</section>

{% endblock %}