{% extends "base.jinja" %}

{% from "macros/_ownership.jinja" import render_address, render_ownership %}
{% from "macros/_news.jinja" import render_news %}

{% block content %}
    <div>
        <h1>{{ query }}</h1>

        {% if ownerships %}
            <table class="table objectAdressTable">
                <thead>
                     <tr>
                        <th>Власник</th>
                        <th>Тип нерухомості, частка</th>
                        <th>Дата реєстрації, підстава власності, форма власності</th>
                        <th><!--Іпотека--></th>
                    </tr>
                </thead>
                <tbody>
                    {% for ownership in ownerships %}
                    {{ render_ownership(ownership, "active" if loop.index is divisibleby(2) else False, True) }}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <div class="row">
            <div class="col col-xl-3 col-lg-3" id="searchAdresses">
                {% if addresses %}
                    <h2 class="green rounded">Адреси</h2>
                    <div>
                    {% for address in addresses %}
                        {{ render_address(address) }}                    
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
            
            <div class="col col-lg-8">
                {% if news_results %}{% endif %}
                <h2>Новини</h2>
                <div id="newsMassonry" class="massonry">
                    <div class="grid-sizer"></div>
                    <div>
                        {% for news in news_results %}
                            {{ render_news(news) }}
                        {% endfor %}
                    </div>
                </div>             
            </div>
        </div>
    </div>
{% endblock %}